#picture {
  width: 25%;
  height:auto;
  float: right;
  border: solid;
  border-color:aquamarine;
}

#goal-list {
  width: auto;
  height:auto;
  border-style:solid;
  border-color:aquamarine
  
}

.title {
  color:cadetblue
}

.column1 {
  width: 200px;
  float: left;
}
