#picture {
  width: 35%;
  height:auto;
  float: right;
  border: solid;
  border-color:aquamarine;
}

#goal-list {
  width: auto;
  height: auto;
  border-style: solid;
  border-color:aquamarine 
}

#loves-list {
  width: auto;
  height: auto;
  border-style: solid;
  border-color:aquamarine;
}

.title {
  color:cadetblue;
}

.box {
  width: 250px;
  height: 202px;
  margin: 12px;
  border: 2px aquamarine;
  padding: 2px;
  background-color: whitesmoke;
}

.font {
  font-family: 'Courier New', Courier, monospace
}

.text {
  text-align:center;
}

.about {
  text-align:justify;
  width: 600px;
  height: auto;
  padding: 15px
}