#picture {
  width: 34.5%;
  height:auto;
  float: right;
  border: solid;
  border-color:cadetblue;
}

#goal-list {
  width: auto;
  height: auto;
  border-style: solid;
  border-color:cadetblue;
}

#loves-list {
  width: auto;
  height: auto;
  border-style: solid;
  border-color:cadetblue;
}

.title {
  color:cadetblue;
}

.box {
  width: 250px;
  height: 202px;
  margin: 12px;
  border: 2px;
  border-color:cadetblue;
  padding: 2px;
  background-color: whitesmoke;
}

.font {
  font-family: 'Courier New', Courier, monospace
}

.text {
  text-align:center;
}

.about {
  text-align:justify;
  width: 600px;
  height: auto;
  padding: 12px
}

.main-container {
  display: flex;
  flex-direction: row;
}